.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

#testng output directory
**/test-output/

!chromedriver.exe
!geckodriver.exe
!IEDriverServer.exe
!MicrosoftWebDriver.exe
!operadriver.exe



